@import url("../startbootstrap/vendor/bootstrap/css/bootstrap.min.css" );
//@import url("../startbootstrap/vendor/metisMenu/metisMenu.min.css" );
//@import url("../startbootstrap/dist/css/sb-admin-2.css" );
//@import url("../startbootstrap/vendor/morrisjs/morris.css" );
//@import url("../startbootstrap/vendor/font-awesome/css/font-awesome.min.css"  );



/*

table tbody tr td {
    line-height: 1.5;
    
}
table thead tr th {
    line-height: 1.5;
    text-align: left;
}

table {
    border-collapse: collapse;
    width:100%;
    border:1px;
    border-color: #FF0000;   
}
table tbody tr td a {
    display: none;
}
.text_align {
    text-align: center;
}

*/